@charset "UTF-8";

.Sec4 {
    @extend %Sec;
    background: url(../img/rank/sec4-title.png) 225px 0 no-repeat;
    margin-top: -77px;
    z-index: 60;

    .u-container {
        padding-top: 190px;
    }
}

.Sec4-content {
    @extend %clearfix;
    padding-left: 8px;
}

.Sec4-item {
    float: left;
    width: 223px;
    height: 360px;
    margin-right: 26px;

    &--last {
        margin-right: 0;
    }
}

.Sec4-itemPic {
    border: 1px solid #54378f;
}

.Sec4-itemDesc {
    font-size: 14px;
    color: #9981df;
    line-height: 2.1;
    margin-top: 14px;
    &.is-center {
        text-align: center;
    }
}

.Sec4-desc {
    padding-top: 35px;
    border-top: 1px solid #2d1b4b;
    margin: 35px 0 auto 8px;
    width: 971px;

    h4 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    p {
        line-height: 1.9;
        font-size: 14px;
    }
}

.Sec4-help {
    position: absolute;
    top: 160px;
    right: 31px;
}