@charset "UTF-8";

.Sec3 {
    @extend %Sec;
    height: 829px;
    background: url(../img/rank/sec3-bg.png) 10px 0 no-repeat;
    margin-top: -77px;
    z-index: 70;

    &.is-empty {
        background: url(../img/rank/sec3-bg-empty.png) 10px 0 no-repeat;
    }

    .u-container {
        padding-top: 269px;
    }
}

.Sec3-content {
    @extend %clearfix;
    padding-left: 45px;
}

.Sec3-list {
    float: left;
    width: 431px;
    height: 564px;
    &--last {
        margin-left: 51px;
    }
}

.Sec3-help {
    position: absolute;
    top: 160px;
    right: 31px;
}

.Sec3-pending {
    text-align: center;
    font-size: 24px;
    line-height: 500px;
}