@charset "UTF-8";

.Main {
    width: 100%;
    height: 2222px;
    background: url(../img/index/bg-main.jpg) no-repeat center 0;
    overflow: hidden;
    .u-container {
        width: 1000px;
    }
}


