.Sec2 {
    width: 100%;
    overflow: hidden;
    height: 610px;
    margin-top: 146px;
}

.Sec2-title {
    width: 703px;
    height: 37px;
    background-image: url(../slice/index/sec2-title.png);
    margin: auto;
    text-indent: -999em;
    position: relative;
    z-index: 90;
}

.Sec2-hint {
    text-align: center;
    margin-top: 12px;
}

.Sec2-content {
    width: 1064px;
    height: 600px;
    background-image: url(../img/index/sec2-content.png);
    margin: -62px 0 0px -45px;
}