.Sec4 {
    width: 100%;
    overflow: hidden;
    margin-top: 156px;
}

.Sec4-title {
    width: 100px;
    height: 25px;
    background-image: url(../slice/index/sec4-title.png);
    //margin: auto;
    text-indent: -999em;
    margin-left: 71px;
}

.Sec4-txt {
    margin-top: 5px;
    line-height: 1.5;
    margin-left: 70px;
}