.Sec3 {
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.Sec3-title {
    width: 703px;
    height: 37px;
    background-image: url(../slice/index/sec3-title.png);
    margin: auto;
    text-indent: -999em;
}

.Sec3-hint {
    text-align: center;
    margin-top: 12px;
}

.Sec3-content {
    width: 478px;
    height: 318px;
    background-image: url(../img/index/sec3-content.png);
    margin: 47px 0 0 261px;
}