@charset "UTF-8";

.Sec1 {
    width: 100%;
    //height: 641px;
    overflow: hidden;
    margin-top: 57px;
}

.Sec1-title {
    width: 703px;
    height: 36px;
    background-image: url(../slice/index/sec1-title.png);
    margin: auto;
    text-indent: -999em;
}

.Sec1-hint {
    text-align: center;
    margin-top: 12px;
}

.Sec1-content {
    width: 990px;
    height: 350px;
    background-image: url(../img/index/sec1-content.png);
    margin: 57px 0 0 7px;
}

.Sec1-list {
    @extend %clearfix;
    margin-top: -47px;
    margin-left: 48px;
}

.Sec1-item {
    float: left;
    width: 160px;
    margin-right: 63px;
    &--1 {
        margin-right: 131px;
    }
    &--3 {
        margin-right: 0;
    }
}

.Sec1-itemName {
    color: #d6ba6a;
    font-size: 18px;
    text-align: center;
    margin-bottom: 6px;
}

.Sec1-itemDesc {

}

.Sec1-btn {
    width: 200px;
    height: 60px;
    display: block;
    background-image: url(../slice/index/sec1-btn.png);
    margin: 63px auto 0 auto;
    position: relative;
    //left: -6px;

    &:hover {
        background-image: url(../slice/index/sec1-btn-hover.png);
    }

    &:active {
        background-image: url(../slice/index/sec1-btn-down.png);
    }
}