html {
    background: url(../img/index/test.jpg) center 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3202px;
    z-index: 10000;
    opacity: 0.5;
}

body {
    opacity: 0.9;
}