html, body {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #83713f;
  color: #614b33;
}

a {
  text-decoration: underline;
  color: #614b33;
  &:hover {
    color: #614b33;
  }
  &:focus {
    outline: 0;
  }
}