html, body {
    width: 482px;
    height: 302px;
}

.Inner-task {
    position: relative;
    width: 482px;
    height: 302px;
    background-color: #84713f;
    overflow: hidden;
    font-size: 12px;
    color: #614b33;
    background-image: url(images/inner/task-bg.jpg);
}

.Inner-taskFooter {
    margin: 250px 20px;
    p {
        line-height: 1.5;
        span {
            color: #ffecb9;
        }
    }
}

.Inner-btnClose--task {
    display: block;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 22px;
    height: 22px;
    background-image: url(../slice/inner/btn-close-task.png);
}

.Inner-btnTaskMore {
    position: absolute;
    bottom: 15px;
    right: 32px;
}