---
layout: default.hbs
title: 周星大作战
keywords: 周星大作战
description: 周星大作战
stylesheet: index
script: index
name: index
hiido_wid:
---
<div class="u-root">
    <div class="Header">
        <div class="u-container">
            <a href="javascript:;" class="Header-btn js-headerBtn"></a>
        </div>
    </div>
    <div class="Main">
        <div class="u-container">
            <div class="Sec1">
                <h3 class="Sec1-title">成为周星 闪绕交友</h3>
                <p class="Sec1-hint">
                    每周一 0：00~周日24：00 期间<br>
                    收到礼物最多的主持和送出周星礼物最多的用户可分别成为该礼物的周星
                </p>
                <div class="Sec1-content"></div>
                <div class="Sec1-list">
                    <div class="Sec1-item">
                        <h4 class="Sec1-itemName">礼物冠名</h4>
                        <p class="Sec1-itemDesc">每周赠送周星礼物数量最多的用户，即可享受该礼物的<b>冠名权7天</b>，闪耀全YY!</p>
                    </div>
                    <div class="Sec1-item Sec1-item--1">
                        <h4 class="Sec1-itemName">首星尊享</h4>
                        <p class="Sec1-itemDesc">周星上线首周送出周星礼物价值最高的土豪，将进行<b>全服广播</b>。全服庆祝首星诞生!</p>
                    </div>
                    <div class="Sec1-item">
                        <h4 class="Sec1-itemName">周星勋章</h4>
                        <p class="Sec1-itemDesc">每周一0：00~周日24：00，收到周星礼物最多的主播可以获得周星勋章，成为YY最瞩目的明星。</p>
                    </div>
                    <div class="Sec1-item Sec1-item--3">
                        <h4 class="Sec1-itemName">黑马推荐</h4>
                        <p class="Sec1-itemDesc">每小时0~10分，30~40分收到各周星礼物最多的主播，可入此推荐位。</p>
                    </div>
                </div>
                <a href="rank.html" class="Sec1-btn js-sec1Btn"></a>
            </div>
            <div class="Sec2">
                <h3 class="Sec2-title">送出帝王套 赢取"壕"印章</h3>
                <p class="Sec2-hint">
                    钻戒、婚纱、礼服、床、猴子，2分钟内每个礼物赠送至少10个，全部赠送后触发帝王套礼物尊贵特效。<br>
                    活动期间赠送帝王套，可以完成盖章小屋帝王套任务获得官方加盖的“壕”印章（7天），霸气外露有没有~
                </p>
                <div class="Sec2-content"></div>
            </div>
            <div class="Sec3">
                <h3 class="Sec3-title">礼物连击 赢取连击冠军</h3>
                <p class="Sec3-hint">
                    每周一0：00~周日24：00，按子频道内连送礼物横幅的钻数和数量排序，每个子频道每周决出连送冠军。
                </p>
                <div class="Sec3-content"></div>
            </div>
            <div class="Sec4">
                <h3 class="Sec4-title">活动说明</h3>
                <p class="Sec4-txt">
                    1.连送是指礼物横幅送出后<b>10秒</b>内再次送出相同钻数的横幅，超出10秒的不算连送<br>
                    2.周星勋章及礼物冠名会在该轮周星结束后的三天内发放<br>
                    3.活动期间由于不可抗因素、网络、作弊等原因导致异常，欢聚时代有权调整，本次活动最终解释权归欢聚时代所有。
                </p>
            </div>
        </div>
    </div>
    {{>footer}}
</div>