---
layout: default.hbs
title: 周星大作战
keyword: 周星大作战
description: 周星大作战
stylesheet: rank
script: rank
name: rank
hiido_wid:
---
<div class="u-root">
    <div class="Header">
        <div class="u-container">
            <a href="javascript:;" class="Header-btn js-headerBtn"></a>
        </div>
    </div>
    <div class="Sec1">
        <div class="u-container">
            <div class="Sec1-list js-sec1List"></div>
        </div>
        <a href="javascript:;" class="Sec1-help u-iconHelp js-tipsBtn"></a>
        <div class="Sec-tips js-tipsPop">
            每小时0-10分，30-40分收到各周星礼物最多的主播，即可进入此推荐位
            <div class="u-arrowDown"></div>
        </div>
    </div>
    <div class="Sec2">
        <div class="u-container">
            <div class="Sec2-propTab js-sec2PropTab"></div>
            <div class="Sec2-content js-sec2Content"></div>
        </div>
        <a href="javascript:;" class="Sec2-help u-iconHelp js-tipsBtn"></a>
        <div class="Sec-tips js-tipsPop">
            距离本轮周星争夺战还剩 <span class="js-remainTime"></span>
            <div class="u-arrowDown"></div>
        </div>
    </div>
    <div class="Sec3 js-sec3">
        <div class="u-container">
            <div class="Sec3-content js-sec3Content"></div>
        </div>
        <a href="javascript:;" class="Sec3-help u-iconHelp js-tipsBtn"></a>
        <div class="Sec-tips js-tipsPop">
            上周周星最强者，冠名礼物，炫耀整个交友界
            <div class="u-arrowDown"></div>
        </div>
    </div>
    <div class="Sec4">
        <div class="u-container">
            <div class="Sec4-content">
                <div class="Sec4-item">
                    <img src="assets/img/rank/sec4-0.jpg" alt="" class="Sec4-itemPic" width="221" height="221">
                    <p class="Sec4-itemDesc">
                        每周周一0：00~周日24：00,送出周星礼物最多的土豪和收到周星礼物最多的主持可分别成为该礼物的周星.
                    </p>
                </div>
                <div class="Sec4-item">
                    <img src="assets/img/rank/sec4-1.jpg" alt="" class="Sec4-itemPic" width="221" height="221">
                    <p class="Sec4-itemDesc">
                        钻戒、婚纱、礼服、床、猴子,每个赠送至少10个,全部赠送后触发帝王套礼物特效.
                    </p>
                </div>
                <div class="Sec4-item">
                    <img src="assets/img/rank/sec4-2.jpg" alt="" class="Sec4-itemPic" width="221" height="221">
                    <p class="Sec4-itemDesc">
                        每周周一0：00~周日24：00，按子频道内连送礼物横幅的钻数和数量排序,每周展示连送冠军.
                    </p>
                </div>
                <div class="Sec4-item Sec4-item--last">
                    <img src="assets/img/rank/sec4-3.jpg" alt="" class="Sec4-itemPic" width="221" height="221">
                    <p class="Sec4-itemDesc is-center">
                        更多玩法即将揭晓
                    </p>
                </div>
            </div>
            <div class="Sec4-desc">
                <h4>补充说明：</h4>
                <p>1.连送是指礼物横幅送出后10秒内，再次送出相同钻数的横幅,超出10秒的不算连送.</p>
                <p>2.帝王套需要在2分钟时间内送出指定礼物才能触发帝王套效果.</p>
                <p>3.周星勋章及礼物冠名会在该轮周星结束后的两天内发放.</p>
            </div>
        </div>
    </div>
    {{>footer}}
</div>
<div class="Modal Modal--header js-headerModal">
    <h3 class="Modal-header">周星奖励</h3>
    <a href="javascript:;" class="Modal-btn Modal-btn--close js-modalBtnClose"></a>
    <div class="u-container">
        <div class="Modal-content"></div>
    </div>
</div>