---
layout: default.hbs
title: 交友贵族—首王争夺战
keyword: 交友贵族—首王争夺战
description: 交友贵族—首王争夺战
stylesheet: index.css
script: pages/index
---
<div class="u-root">
    <div class="Nav">
        <div class="Nav-bg"></div>
        <ol class="Nav-list">
            <li class="Nav-item">
                <a href="javascript:;" class="Nav-anchor is-active">首王争夺</a>
            </li>
            <li class="Nav-item">
                <a href="javascript:;" class="Nav-anchor">战鼓敲响</a>
            </li>
            <li class="Nav-item">
                <a href="javascript:;" class="Nav-anchor">群雄逐鹿</a>
            </li>
            <li class="Nav-item">
                <a href="javascript:;" class="Nav-anchor">荣誉加身</a>
            </li>
            <li class="Nav-item">
                <a href="javascript:;" class="Nav-anchor">活动规则</a>
            </li>
        </ol>
    </div>
    <div class="Header">
        <div class="u-sectionContainer">
            <h1 class="u-hide">YY交友贵族 首王争夺战</h1>
            <p class="u-hide">2016.01.18-2016-01.22</p>
        </div>
    </div>
    <div class="Sec1">
        <div class="u-sectionContainer">
            <h2 class="u-hide">交友首王 战鼓敲响</h2>
            <p class="Sec1-hint">活动期间，在交友模板内，每送出一个“王者之杖”可获得100点荣誉值。活动结束后，荣誉值最高且＞120万的用户荣封首王，<br/>
                其他荣誉值≥120万的用户晋升为国王！</p>
            <div class="Sec1-content">
                <div class="Sec1-player Sec1-player--formal">
                    <div class="Sec1-playerSlogan Sec1-playerSlogan--formal"></div>
                    <p class="Sec1-playerDesc">在2015年交友星光盛典<span class="u-yellow">荣誉值≥200万</span>的用户，<br/>
                        可直接获得首王争夺战资格</p>
                </div>
                <div class="Sec1-player Sec1-player--extra">
                    <div class="Sec1-playerSlogan Sec1-playerSlogan--extra"></div>
                    <p class="Sec1-playerDesc">错过在星光盛典中获得资格的用户，在本活动期间获得<br/>
                        <span class="u-yellow">250万荣誉值</span>补录资格，扣除后参与首王角逐</p>
                </div>
            </div>
            <a class="Sec1-btn" href="javascript:;">我要称王</a>
        </div>
    </div>
    <div class="Sec2">
        <div class="u-sectionContainer">
            <h2 class="u-hide">交友首王 群雄逐鹿</h2>
            <p class="Sec2-hint">活动期间，在交友模板内，每送出一个“王者之杖”可获得100点荣誉值。活动结束后，荣誉值最高且＞120万的用户荣封首王，<br/>
                荣誉值≥120万的用户晋升为国王！</p>
            <div class="Sec2-rankList">
                <div class="Sec2-rankPrize">
                    <div class="Sec2-rankItem Sec2-rankItem--second">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--second">
                            <img class="Sec2-rankImage Sec2-rankImage--second" src="./assets/images/tem-avatar.jpg" alt="123" width="120" height="120">
                            <div class="Sec2-rankPlace Sec2-rankPlace--second"><span>2</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--second is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名这里是个用户名这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--first">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--first">
                            <img class="Sec2-rankImage Sec2-rankImage--first" src="./assets/images/tem-avatar.jpg" alt="123" width="140" height="140">
                            <div class="Sec2-rankPlace Sec2-rankPlace--first"><span>1</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--first is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名这里是个用户名这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--third">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--third">
                            <img class="Sec2-rankImage Sec2-rankImage--third" src="./assets/images/tem-avatar.jpg" alt="123" width="120" height="120">
                            <div class="Sec2-rankPlace Sec2-rankPlace--third"><span>3</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--third is-down"></div>
                        </div>
                        <p class="Sec2-rankName">
                            <span class="Sec2-rankExtra"></span>
                            这里是个用户名这里是个用户名这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                </div>
                <div class="Sec2-rankOther">
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>4</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>5</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>6</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-stay"></div>
                        </div>
                        <p class="Sec2-rankName">
                            <span class="Sec2-rankExtra"></span>
                            这里是个用户名这里是个用户名这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>7</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>8</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-down"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>9</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>10</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>11</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>12</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>13</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                    <div class="Sec2-rankItem Sec2-rankItem--other">
                        <div class="Sec2-rankAvatar Sec2-rankAvatar--other">
                            <img class="Sec2-rankImage Sec2-rankImage--other" src="./assets/images/tem-avatar.jpg" alt="123" width="80" height="80">
                            <div class="Sec2-rankPlace Sec2-rankPlace--other"><span>14</span></div>
                            <div class="Sec2-rankStatus Sec2-rankStatus--other is-up"></div>
                        </div>
                        <p class="Sec2-rankName">
                            这里是个用户名
                        </p>
                        <p class="Sec2-rankHonor">
                            荣誉值：195665120
                        </p>
                    </div>
                </div>
            </div>
            <div class="Sec2-pagination">
                <a class="Sec2-pageBtn Sec2-pageBtn--prev" href="javascript:;"></a>
            </div>
        </div>
    </div>
    <div class="Sec3">
        <div class="u-sectionContainer">
            <h2 class="u-hide">交友首王 荣誉加身</h2>
            <p class="Sec3-hint">活动期间，在交友模板内，每送出一个“王者之杖”可获得100点荣誉值。活动结束后，荣誉值最高且＞120万的用户荣封首王，<br/>
                荣誉值≥120万的用户晋升为国王！</p>
            <ul class="Sec3-featureList">
                <li class="Sec3-featureItem Sec3-featureItem--card1">
                    <div class="Sec3-featureImage Sec3-featureImage--card1"></div>
                    <div class="Sec3-featureText Sec3-featureText--card1"></div>
                </li>
                <li class="Sec3-featureItem Sec3-featureItem--card2">
                    <div class="Sec3-featureImage Sec3-featureImage--card2"></div>
                    <div class="Sec3-featureText Sec3-featureText--card2"></div>
                </li>
                <li class="Sec3-featureItem Sec3-featureItem--card3">
                    <div class="Sec3-featureImage Sec3-featureImage--card3"></div>
                    <div class="Sec3-featureText Sec3-featureText--card3"></div>
                </li>
                <li class="Sec3-featureItem Sec3-featureItem--card4">
                    <div class="Sec3-featureImage Sec3-featureImage--card4"></div>
                    <div class="Sec3-featureText Sec3-featureText--card4"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="Sec4">
        <div class="u-sectionContainer">
            <h3 class="Sec4-title">活动规则</h3>
            <ol class="Sec4-ruleList">
                <li class="Sec4-ruleItem">
                    首王争夺战的候选人资格由2015年交友星光盛典活动选出，初始排名由星光盛典荣誉值从高到低排序。
                </li>
                <li class="Sec4-ruleItem">
                    首王争夺战从2016年01月18日-01月22日17：00。
                </li>
                <li class="Sec4-ruleItem">
                    活动期间送出'王者之杖'礼物可获得荣誉值，"王者之杖"价格10Y币1个，每送出1个可获得100点荣誉值。
                </li>
                <li class="Sec4-ruleItem">
                    活动结束后荣誉值第一且荣誉值＞120万的用户荣升为YY交友首位国王，在交友贵族上线前由官方国王特使联系，优先选择座驾短号和国王命名，<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;并配备专属首王标识。其他荣誉值≥120万的用户获得交友国王资格，交友贵族上线后才开放选号和命名。
                </li>
                <li class="Sec4-ruleItem">
                    如您错过了星光盛典活动，没有候选人资格，在本活动期间送出250万点荣誉值可获得资格，获得资格后会扣除掉250万点荣誉值再参与首王角逐。
                </li>
                <li class="Sec4-ruleItem">
                    活动期间由于不可抗因素、网络、作弊等原因导致异常，欢聚时代有权调整，本次活动最终解释权归欢聚时代所有。
                </li>
            </ol>
        </div>
    </div>
    <div class="Sec5">
        <div class="u-sectionContainer">
            <a class="Sec5-btn" href="javascript:;">预售时通知我</a>
        </div>
    </div>
    <div class="Footer">
        <div class="u-sectionContainer">
            <script src="http://assets.dwstatic.com/common/yyfoot/yyfoot.js" charset="utf-8"></script>
        </div>
    </div>
</div>