---
layout: default.hbs
title: 交友贵族—首王争夺战
keyword: 交友贵族—首王争夺战
description: 交友贵族—首王争夺战
stylesheet: inner.css
script: pages/inner
---
<div class="Inner">
    <div class="u-container">
        <table class="Inner-rankTable">
            <thead>
            <tr>
                <th colspan="2" width="80">排名</th>
                <th width="186">昵称</th>
                <th style="text-indent: 4px">荣誉值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="Inner-place Inner-place--first">1</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷这个杀手不太冷</span><span class="Inner-rankExtra"></span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>
            <tr>
                <td><span class="Inner-place Inner-place--second">2</span></td>
                <td><span class="Inner-status is-down"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手太冷冷冷</span><span class="Inner-rankExtra"></span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>
            <tr>
                <td><span class="Inner-place Inner-place--third">3</span></td>
                <td><span class="Inner-status is-stay"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀</span><span class="Inner-rankExtra"></span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>
            <tr>
                <td><span class="Inner-place Inner-place--other">4</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷</span><span class="Inner-rankExtra"></span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>
            <tr>
                <td><span class="Inner-place Inner-place--other">4</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷</span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>            <tr>
                <td><span class="Inner-place Inner-place--other">4</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷</span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>            <tr>
                <td><span class="Inner-place Inner-place--other">4</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷</span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>            <tr>
                <td><span class="Inner-place Inner-place--other">4</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷</span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>            <tr>
                <td><span class="Inner-place Inner-place--other">4</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷</span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>            <tr>
                <td><span class="Inner-place Inner-place--other">4</span></td>
                <td><span class="Inner-status is-up"></span></td>
                <td><span class="Inner-rankName is-extra">这个杀手不太冷</span></td>
                <td class="Inner-rankValue">9999</td>
            </tr>
            </tbody>
        </table>
        <div class="Inner-footer">
            <p class="Inner-yourRank">你当前的排名：129</p>
        </div>
    </div>
    <a href="javascript:;" class="Inner-btnMore"></a>
    <a href="javascript:;" class="Inner-btnClose"></a>
</div>